<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="qastatus">
      <ion-label>QA. Status</ion-label>
      <ion-icon name="briefcase"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="receive-billfac">
      <ion-label>รับงานจากฝ่ายผลิต</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="repairstatus">
      <ion-label>Repair Status</ion-label>
      <ion-icon name="construct"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="orderstatus">
      <ion-label>Order Status</ion-label>
      <ion-icon name="bar-chart"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>